
$bg_main: #44D62C; // FCB61A yellow
$bg_mid_dark: #222;

$txt_main: #44D62C;
$txt_mid_dark: #CBCBCB;

$lightest: #fff;
$darkest: #000;

///////////////////////////////////////////
$primary: #44D62C;
$footer:#111111;
$icons:#EEEEEE;
$barGrey: #555555;
$barDarker: #1A1A1A;
$sec2:#181818;
$nav:#000;
$navColor:#888888;
$bg:#222;//0F0F0F
$inputColor:#999999;
////////////////////////////////