@import url('http://fonts.cdnfonts.com/css/hansief');
/* font-family: 'Hansief', sans-serif; */

@import url('http://fonts.cdnfonts.com/css/basement-medium');
/* font-family: 'Basement-Medium', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Black+Ops+One&family=Calligraffitti&family=Concert+One&family=Federo&family=Indie+Flower&family=JetBrains+Mono:ital,wght@0,100;0,300;1,100&family=Monoton&family=Nova+Mono&family=Oswald:wght@200;400;700&family=Oxygen+Mono&family=Palette+Mosaic&family=Racing+Sans+One&family=Righteous&family=Roboto:wght@100;400&family=Russo+One&family=Smooch+Sans:wght@100;400;900&family=Staatliches&display=swap');
/* 
font-family: 'Anton', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Black Ops One', cursive; 
font-family: 'Calligraffitti', cursive;
font-family: 'Concert One', cursive;
font-family: 'Federo', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Monoton', cursive;
font-family: 'Nova Mono', monospace;
font-family: 'Oswald', sans-serif;
font-family: 'Oxygen Mono', monospace;
font-family: 'Palette Mosaic', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Smooch Sans', sans-serif;
font-family: 'Staatliches', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;900&family=Open+Sans:wght@300;800&display=swap');

// font-family: 'Noto Sans', sans-serif; 
// font-family: 'Open Sans', sans-serif;