@import './sass/colors.scss';

:root {
  --step--2:clamp(0.88rem, calc(0.62rem + 0.36vw), 0.69rem);
  --step--1:clamp(1.17rem, calc(0.70rem + 0.66vw), 0.83rem);
  --step-0:clamp(1rem, calc(0.78rem + 1.10vw), 1.56rem);
  --step-1:clamp(1.2rem, calc(0.86rem + 1.72vw), 2.08rem);
  --step-2:clamp(1.44rem, calc(0.92rem + 2.61vw), 2.78rem);
  --step-3:clamp(1.73rem, calc(0.96rem + 3.85vw), 3.7rem);
  --step-4:clamp(2.07rem, calc(0.96rem + 5.58vw), 4.93rem);
  --step-5:clamp(2.49rem, calc(0.89rem + 7.98vw), 6.58rem);
}

::-webkit-scrollbar {
  width: .8em;
}

::-webkit-scrollbar-track {
  background-color: #272626;
  border-radius: 100vh;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 100vh;
  opacity: 0;

  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.24);
  }
}

body.waiting * {
    cursor: auto;
}